body {
    margin:0;
    background-color: rgb(218, 208, 208);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'logo-font';
    src: URL('fonts/Norse-Bold.otf') format('truetype');
  }

.container{
    display:flex;
    flex-direction:row;
}

  .image-section {
    flex:0 0 35%;
    background-image: url('images/binit-sharma-BiZb01CW0RE-unsplash.jpg');
    height:150vh;  
    background-repeat:no-repeat;
    background-size:cover;   
    position:relative;
  }

  .logo-section{
    font-family:'logo-font',Arial, Helvetica, sans-serif;
    position:absolute;
    background-color:rgba(31, 28, 28, 0.6);
    width:100%;
    top:200px;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .logo-section span{
    color:rgb(255, 255, 255,1);
    font-size:5rem;
  }
  
  .logo-image{
    height:max(50%,200px);
    width:auto;
  }

  .credit-section{
    bottom:8px;
    font-size:30px;
    color:white;
    position:absolute;
    width:100%;
    text-align:center;
  }

  .credit-section a {
    color:white;
  }

  .credit-section a:visited{
    color:white;
  }


.form-section{
    flex:0 0 55%;
    padding:30px;
    
    font-size:20px;
    font-weight:0.9;

}

.form-section p {
    font-size:1.5rem;
    }

.header{
    margin-top:10px;}

.form-div{
    padding:10px;
    font-size:20px;
    font-weight: 0.2;
    background-color:white;
    box-shadow: 2px 2px #888888;
}

input{
    height:14px;
    width:200px;
    font-size:1rem;
    padding:10px;
    border-radius:30px;
    border:1px solid #888888 }

input:focus{
    border:3px solid blue;
    box-shadow:2px 2px gainsboro;
}

input:invalid {
    outline: 2px solid red;
}

.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}
label{
    display:block;
    font-size:1rem;
}

input[type='submit']{
    height:3rem;
    width:10rem;
    text-align:center;
    margin-top:3rem;
    margin-left:4rem;
    cursor:pointer;
    
    background-color: #596D48;
    color:white;
}

input[type='submit']:hover{
    transform:scale(1.05);
    box-shadow:2px 2px gainsboro; 
}

.login {
    color:#596D48;
}

.form {
    margin-top:2rem;
    margin-bottom:2rem;
}

#warning {
    color:red;
    margin:1px;
    font-size:20px;
}